@using Mess.Blazor.Abstractions.Extensions

<Router
  AppAssembly="@this.GetAppAssembly()"
  AdditionalAssemblies="@this.GetExtensionAssemblies()">
  <Found Context="routeData">
    <CapturedRouteView
      RouteData="@routeData"
      DefaultLayout="@this.GetLayoutType()"
      CaptureId="@LayoutCaptureId" />
  </Found>

  <NotFound>
    <CapturedLayoutView
      Layout="@this.GetLayoutType()"
      CaptureId="@LayoutCaptureId">
      <p>Sorry, there's nothing at this address.</p>
    </CapturedLayoutView>
  </NotFound>
</Router>
