@using Mess.Ozds.Abstractions.Indexes
@using Mess.Iot.Abstractions.Models
@using Mess.Ozds.Abstractions.Models
@using OrchardCore.Users.Models
@using OrchardCore.ContentFields.Indexing.SQL
@using System.Linq.Expressions
@using Mess.Ozds.Abstractions.Timeseries
@using Mess.Billing.Abstractions.Models
@using OrchardCore.ContentManagement.Records
@using OrchardCore.Users.Indexes

@inject IContentManager _contentManager;
@inject IServiceProvider _serviceProvider;
@inject NavigationManager NavigationManager;

@if(User.RoleNames.Contains("Distribution System Operator Representative")){
  <MudDataGrid
  T="TabularData"
  MultiSelection="true"
  Items="@_dataStruct"
  SortMode="SortMode.Multiple"
  Filterable="true"
  QuickFilter="@_quickFilter"
  RowClick="@RowClicked">
  <ToolBarContent>
    <MudText Typo="Typo.h6">@T["Zakupnici"]</MudText>
    <MudSpacer />
    <MudTextField
      @bind-Value="_searchString"
      Placeholder="Search"
      Adornment="Adornment.Start"
      Immediate="true"
      AdornmentIcon="@Icons.Material.Filled.Search"
      IconSize="MudBlazor.Size.Medium"
      Class="mt-0">
    </MudTextField>
  </ToolBarContent>
  <Columns>
    <PropertyColumn
      Property="x => x.system.DisplayText"
      Title='@T["Podmreža"].Value'
      Sortable="false"
      Filterable="false" />
    <PropertyColumn
      Property="x => x.unit.DisplayText"
      Title='@T["Zakupnik"].Value' />
    <PropertyColumn
      Property="x => x.unit.As<DistributionSystemUnitPart>().Consumption"
      Title='@T["Potrošnja"].Value'
      Sortable="false"
      Filterable="false" />
    <TemplateColumn CellClass="d-flex justify-end">
          <CellTemplate>
              <MudStack Row>
                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary">
                    <form method="post" action="@($"https://localhost:5001/ozds/Admin/IssueInvoice/{context.Item.unit.ContentItemId}")">
                        <button type="submit">@T["Izdati Račun"].Value</button>
                    </form>
                </MudButton>
              </MudStack>
          </CellTemplate>
      </TemplateColumn>
  </Columns>
  <PagerContent>
    <MudDataGridPager T="TabularData" />
  </PagerContent>
</MudDataGrid>
}
else{
  <MudDataGrid
  T="TabularData"
  MultiSelection="true"
  Items="@_dataStruct"
  SortMode="SortMode.Multiple"
  Filterable="true"
  QuickFilter="@_quickFilter"
  RowClick="@RowClicked">
  <ToolBarContent>
    <MudText Typo="Typo.h6">@T["Zakupnici"]</MudText>
    <MudSpacer />
    <MudTextField
      @bind-Value="_searchString"
      Placeholder="Search"
      Adornment="Adornment.Start"
      Immediate="true"
      AdornmentIcon="@Icons.Material.Filled.Search"
      IconSize="MudBlazor.Size.Medium"
      Class="mt-0">
    </MudTextField>
  </ToolBarContent>
  <Columns>
    <PropertyColumn
      Property="x => x.system.DisplayText"
      Title='@T["Podmreža"].Value'
      Sortable="false"
      Filterable="false" />
    <PropertyColumn
      Property="x => x.unit.DisplayText"
      Title='@T["Zakupnik"].Value' />
    <PropertyColumn
      Property="x => x.unit.As<DistributionSystemUnitPart>().Consumption"
      Title='@T["Potrošnja"].Value'
      Sortable="false"
      Filterable="false" />
  </Columns>
  <PagerContent>
    <MudDataGridPager T="TabularData" />
  </PagerContent>
</MudDataGrid>
}
@code {
    [Parameter]
    public User User { get; set; } = default!;
    private string? _searchString;
    private ContentItem? _legalEntity;
    private IEnumerable<ContentItem>? _units;
    public record struct TabularData(ContentItem system, ContentItem unit);
    private List<TabularData> _dataStruct = new List<TabularData>();

    private IEnumerable<ContentItem>? _systems;
    protected override async Task OnInitializedAsync()
    {
        await WithTransientSessionAsync(async session => {
            _legalEntity = await session
                .Query<ContentItem, UserPickerFieldIndex>()
                .Where(index => index.ContentPart == "LegalEntityPart")
                .Where(index => index.SelectedUserId == User.UserId)
                .FirstOrDefaultAsync();

            if (User.RoleNames.Contains("Distribution System Operator Representative")) {
                _systems = await session
                  .Query<ContentItem, ClosedDistributionSystemIndex>()
                  .Where(index => index.DistributionSystemOperatorContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
                _units = await session
                  .Query<ContentItem, DistributionSystemUnitIndex>()
                  .Where(index => index.DistributionSystemOperatorContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
            }
            else if (User.RoleNames.Contains("Closed Distribution System Representative")){
                _systems = await session
                  .Query<ContentItem, ClosedDistributionSystemIndex>()
                  .Where(index => index.ClosedDistributionSystemContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
                _units = await session
                  .Query<ContentItem, DistributionSystemUnitIndex>()
                  .Where(index => index.ClosedDistributionSystemContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
            }
        });
        if(_systems is not null && _units is not null)
            foreach(var system in _systems){
                foreach(var unit in _units){
                    _dataStruct.Add(new TabularData(system, unit));
                }
            }
    }
    private Func<TabularData, bool> _quickFilter => x =>
  {
     if (string.IsNullOrWhiteSpace(_searchString))
         return true;

     if (x.unit.DisplayText.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
         return true;

     return false;
  };
  private void RowClicked(DataGridRowClickEventArgs<TabularData> args) {
      NavigationManager.NavigateTo($"app/tenant/{args.Item.unit.ContentItemId}");
  }
}
