@using Mess.Ozds.Abstractions.Indexes
@using Mess.Iot.Abstractions.Models
@using Mess.Ozds.Abstractions.Models
@using OrchardCore.Users.Models
@using OrchardCore.ContentFields.Indexing.SQL
@using System.Linq.Expressions
@using Mess.Ozds.Abstractions.Timeseries
@using Mess.Billing.Abstractions.Models
@using OrchardCore.ContentManagement.Records
@using OrchardCore.Users.Indexes

@inject IContentManager _contentManager;
@inject IServiceProvider _serviceProvider;
@inject NavigationManager NavigationManager;

@if(User.RoleNames.Contains("Distribution System Operator Representative")){
  <MudDataGrid
  T="TabularData"
  MultiSelection="true"
  Items="@_dataStruct"
  SortMode="SortMode.Multiple"
  Filterable="true"
  QuickFilter="@_quickFilter">
  <ToolBarContent>
    <MudText Typo="Typo.h6">@T["Zakupnici"]</MudText>
    <MudSpacer />
    <MudTextField
      @bind-Value="_searchString"
      Placeholder="Search"
      Adornment="Adornment.Start"
      Immediate="true"
      AdornmentIcon="@Icons.Material.Filled.Search"
      IconSize="MudBlazor.Size.Medium"
      Class="mt-0">
    </MudTextField>
  </ToolBarContent>
  <Columns>
    <TemplateColumn Title="@T["Podmreže"].Value"
      Sortable="false"
      Filterable="false">
        <CellTemplate>
            <MudStack Row>
              <MudButton OnClick="() => InspectSubnet(context.Item.system)" Variant="Variant.Outlined" Color="MudBlazor.Color.Primary">
                @context.Item.system.DisplayText
              </MudButton>
            </MudStack>
        </CellTemplate>
    </TemplateColumn>
    <TemplateColumn Title="@T["Zakupnici"].Value"
      Sortable="false"
      Filterable="false">
        <CellTemplate>
            <MudStack Row>
              <MudButton OnClick="() => InspectTenant(context.Item.unit)" Variant="Variant.Outlined" Color="MudBlazor.Color.Primary">
                @context.Item.unit.DisplayText
              </MudButton>
            </MudStack>
        </CellTemplate>
    </TemplateColumn>
    <PropertyColumn
      CellStyle="font-size: x-large;"
      Property="x => x.unit.As<DistributionSystemUnitPart>().Consumption"
      Title='@T["Potrošnja"].Value'
      Sortable="false"
      Filterable="false" />
    <TemplateColumn CellClass="d-flex justify-end">
          <CellTemplate>
              <MudStack Row>
                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary">
                    <form method="post" action="@($"admin/IssueInvoice/{context.Item.unit.ContentItemId}")">
                        <button type="submit">@T["Izdati Račun"].Value</button>
                    </form>
                </MudButton>
              </MudStack>
          </CellTemplate>
      </TemplateColumn>
  </Columns>
  <PagerContent>
    <MudDataGridPager T="TabularData" />
  </PagerContent>
</MudDataGrid>
}
else{

@* MOBILE *@
  <MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudPaper Class="pa-1">
      <MudText Typo="Typo.h4" Class="d-flex justify-center">
        @(T["Zakupnici"].Value)
      </MudText>
      <MudTextField Class="pa-3" ValueChanged="EventCallback.Factory.Create<string>(this, Filter)" Label="Pretraži zakupnike" Variant="Variant.Text"></MudTextField>
      @foreach(ExpandThing dataStruct in _shownTenants.Where(x => x.show == true).ToList()){
      <MudPaper Elevation="2" Class="ma-1">
        <MudStack Spacing="0">
          <MudGrid Class="d-flex pa-2">
            <MudItem xs="10" Class="d-flex align-center justify-start" Style="font-size: large;">
              @T["Podmreža"].Value: @dataStruct.data.system.DisplayText
            </MudItem>
            <MudItem xs="2" Class="d-flex align-center justify-end">
              <MudIconButton OnClick="() => InspectSubnet(dataStruct.data.system)" Icon="@Icons.Material.Filled.RemoveRedEye" Color="MudBlazor.Color.Primary"/>
            </MudItem>
            <MudItem xs="10" Class="d-flex align-center justify-start" Style="font-size: large; font-weight: bold;">
              @T["Zakupnik"].Value: @dataStruct.data.unit.DisplayText
            </MudItem>
            <MudItem xs="2" Class="d-flex align-center justify-end">
              <MudIconButton OnClick="() => InspectTenant(dataStruct.data.unit)" Icon="@Icons.Material.Filled.RemoveRedEye" Color="MudBlazor.Color.Primary"/>
            </MudItem>
          </MudGrid>
        </MudStack>
      </MudPaper>
      }
    </MudPaper>
  </MudHidden>


@* DESKTOP *@
  <MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudDataGrid
  T="TabularData"
  MultiSelection="true"
  Items="@_dataStruct"
  SortMode="SortMode.Multiple"
  Filterable="true"
  QuickFilter="@_quickFilter">
  <ToolBarContent>
    <MudText Typo="Typo.h4">@T["Zakupnici"]</MudText>
    <MudSpacer />
    <MudTextField
      @bind-Value="_searchString"
      Placeholder="Search"
      Adornment="Adornment.Start"
      Immediate="true"
      AdornmentIcon="@Icons.Material.Filled.Search"
      IconSize="MudBlazor.Size.Medium"
      Class="mt-0">
    </MudTextField>
  </ToolBarContent>
  <Columns>
    <TemplateColumn Title="@T["Podmreže"].Value"
      Sortable="false"
      Filterable="false">
        <CellTemplate>
            <MudStack Row>
              <MudButton OnClick="() => InspectSubnet(context.Item.system)" Variant="Variant.Outlined" Color="MudBlazor.Color.Primary">
                @context.Item.system.DisplayText
              </MudButton>
            </MudStack>
        </CellTemplate>
    </TemplateColumn>
    <TemplateColumn Title="@T["Zakupnici"].Value"
      Sortable="false"
      Filterable="false">
        <CellTemplate>
            <MudStack Row>
              <MudButton OnClick="() => InspectTenant(context.Item.unit)" Variant="Variant.Outlined" Color="MudBlazor.Color.Primary">
                @context.Item.unit.DisplayText
              </MudButton>
            </MudStack>
        </CellTemplate>
    </TemplateColumn>
    <PropertyColumn
    CellStyle="font-size: x-large;"
    Property="x => x.unit.As<DistributionSystemUnitPart>().Consumption"
    Title='@T["Potrošnja"].Value'>
          <CellTemplate>
              @(context.Item.unit.As<DistributionSystemUnitPart>().Consumption + " kWh")
          </CellTemplate>
      </PropertyColumn>
  </Columns>
  <PagerContent>
    <MudDataGridPager T="TabularData" />
  </PagerContent>
</MudDataGrid>
  </MudHidden>
}

@code {
    [Parameter]
    public User User { get; set; } = default!;
    private string? _searchString;
    private ContentItem? _legalEntity;
    private IEnumerable<ContentItem>? _units;
    public record struct TabularData(ContentItem system, ContentItem unit);
    private List<TabularData> _dataStruct = new List<TabularData>();

    private IEnumerable<ContentItem>? _systems;
    protected override async Task OnInitializedAsync()
    {
        await WithTransientSessionAsync(async session => {
            _legalEntity = await session
                .Query<ContentItem, UserPickerFieldIndex>()
                .Where(index => index.ContentPart == "LegalEntityPart")
                .Where(index => index.SelectedUserId == User.UserId)
                .FirstOrDefaultAsync();

            if (User.RoleNames.Contains("Distribution System Operator Representative")) {
                _systems = await session
                  .Query<ContentItem, ClosedDistributionSystemIndex>()
                  .Where(index => index.DistributionSystemOperatorContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
                _units = await session
                  .Query<ContentItem, DistributionSystemUnitIndex>()
                  .Where(index => index.DistributionSystemOperatorContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
            }
            else if (User.RoleNames.Contains("Closed Distribution System Representative")){
                _systems = await session
                  .Query<ContentItem, ClosedDistributionSystemIndex>()
                  .Where(index => index.ClosedDistributionSystemContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
                _units = await session
                  .Query<ContentItem, DistributionSystemUnitIndex>()
                  .Where(index => index.ClosedDistributionSystemContentItemId == _legalEntity.ContentItemId)
                  .ListAsync();
            }
        });
        if(_systems is not null && _units is not null)
            foreach(var system in _systems){
                foreach(var unit in _units){
                    _dataStruct.Add(new TabularData(system, unit));
                }
            }
            foreach(var data in _dataStruct){
              _shownTenants.Add( new ExpandThing{data = data, show = true, expand = false});
            }
    }
    private Func<TabularData, bool> _quickFilter => x =>
  {
     if (string.IsNullOrWhiteSpace(_searchString))
         return true;

     if (x.unit.DisplayText.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
         return true;

     return false;
  };
  private void InspectTenant(ContentItem item) {
      NavigationManager.NavigateTo($"app/tenant/{item.ContentItemId}");
  }
  private void InspectSubnet(ContentItem item) {
      NavigationManager.NavigateTo($"app/subnet/{item.ContentItemId}");
  }

@* MOBILE *@
  public string TextValue { get; set; } = "";
  private class ExpandThing {
    public TabularData data;
    public bool expand;
    public bool show;
  }
  List<ExpandThing> _shownTenants = new();
  private void OnExpandCollapseClick(string id) {
    var a = _shownTenants.Where(x => x.data.unit.ContentItemId == id).FirstOrDefault();
    a.expand = !a.expand;
  }
  private Task Filter(string value) {
    TextValue = value;
    foreach (var inv in _shownTenants)
    {
      if(value.Trim() != ""){
        inv.show = false;
      }
    };
    var a = _shownTenants.Where(x => x.data.unit.DisplayText.Contains(value, StringComparison.InvariantCultureIgnoreCase)).ToList();
    foreach (var inv in a)
    {
        inv.show = true;
    };
    StateHasChanged();
    return Task.CompletedTask;
  }
}
