@using OrchardCore.ContentManagement.Display
@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Contents
@using Microsoft.AspNetCore.Authorization
@using Mess.OrchardCore.Extensions.Microsoft

@model OzdsMeasurementDeviceListViewModel

@inject IContentItemDisplayManager ContentItemDisplayManager
@inject IUpdateModelAccessor ModelUpdaterAccessor
@inject IAuthorizationService AuthorizationService

<div>
  <table class="table">
    <thead>
      <th scope="col"></th>
      <th scope="col">@T["Sampling time"]</th>
      <th scope="col">@T["Manufacturer date"]</th>
      <th scope="col">@T["Manufacturer"]</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      @foreach (var (ContentItem, TitlePart, OzdsMeasurementDevicePart, MeasurementDevicePart) in Model.ContentItems)
      {
        <tr>
          <th scope="row">
            <a
                asp-route-area="Mess.Ozds"
                asp-controller="OzdsMeasurementDeviceAdmin"
                asp-action="Detail"
                asp-route-contentItemId="@ContentItem.ContentItemId">
              <span>
                @TitlePart.Title
              </span>
            </a>
          </th>
          <td>
            @if (
              await AuthorizationService.AuthorizeViewAsync(
                User,
                await this.GetAuthenticatedOrchardCoreUserAsync(),
                ContentItem
              )
            )
            {
              <a
                  asp-route-area="OrchardCore.Contents"
                  asp-controller="Admin"
                  asp-action="Display"
                  asp-route-contentItemId="@ContentItem.ContentItemId"
                  asp-route-returnUrl="@FullRequestPath"
                  class="btn btn-primary btn-sm">
                <span>
                  @T["Display"]
                </span>
              </a>
            }
            @if (
              await AuthorizationService.AuthorizeAsync(
                User,
                CommonPermissions.EditOwnContent,
                ContentItem
              )
            )
            {
              <a
                  asp-route-area="OrchardCore.Contents"
                  asp-controller="Admin"
                  asp-action="Edit"
                  asp-route-contentItemId="@ContentItem.ContentItemId"
                  asp-route-returnUrl="@FullRequestPath"
                  class="btn btn-primary btn-sm">
                <span>
                  @T["Edit"]
                </span>
              </a>
            }
            @if (
              await AuthorizationService.AuthorizeAsync(
                User,
                CommonPermissions.DeleteOwnContent,
                ContentItem
              )
            )
            {
              <a
                  asp-route-area="OrchardCore.Contents"
                  asp-controller="Admin"
                  asp-action="Remove"
                  asp-route-contentItemId="@ContentItem.ContentItemId"
                  asp-route-returnUrl="@FullRequestPath"
                  class="btn btn-danger btn-sm">
                <span>
                  @T["Delete"]
                </span>
              </a>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
