@using Mess.Ozds.Abstractions.Models

<style>
  .calculation-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
  }

  .calculation-table th {
    background-color: #DDDDDD;
  }

  .calculation-table th, .calculation-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
  }

  .info-table th, .info-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table th {
    font-weight: normal;
  }

  .info-table tr {
    height: 1.2rem;
    align-items: center;
  }
</style>

<p style="text-align: right;">
  RAČUN BR. @(Item.ContentItemId)
</p>
<table class="info-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 57%" />
    <col style="width: 19%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: start;"><strong>@(systemItem.TitlePart.Value.Title)</strong></th>
      <th style="text-align: end;">DATUM ISPORUKE:</th>
      <th style="text-align: start;">@(DateString(Item.OzdsInvoicePart.Value.Data.To.AddDays(-1)))</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@(systemItem.TitlePart.Value.Title)</td>
      <td style="text-align: end;">DOSPIJEĆE:</td>
      <td>@(DateString(Item.InvoicePart.Value.Date.Value?.AddDays(15)))</td>
    </tr>
    <tr>
      <td>@(systemItem.LegalEntityPart.Value.Address.Text)</td>
      <td style="text-align: end;">DATUM UGOVORA:</td>
      <td>@(DateString(Item.InvoicePart.Value.Date.Value))</td>
    </tr>
    <tr>
      <td>@(systemItem.LegalEntityPart.Value.PostalCode.Text) @(systemItem.LegalEntityPart.Value.City.Text)</td>
      <td style="text-align: end;">UGOVOR:</td>
      <td>@(systemItem.ContentItemId)</td>
    </tr>
    <tr>
      <td>OIB: @(systemItem.LegalEntityPart.Value.SocialSecurityNumber.Text)</td>
      <td style="text-align: end;">NOSIOC:</td>
      <td>@(systemItem.ContentItemId)</td>
    </tr>
  </tbody>
</table>
<p style="margin-top: 1.2rem; text-align: right;">
  ZA ELEKTRIČNU ENERGIJU ZA RAZDOBLJE: OD
  <strong>
    @(DateString(Item.OzdsInvoicePart.Value.Data.From))
  </strong>
  DO
  <strong>
    @(DateString(Item.OzdsInvoicePart.Value.Data.To.AddDays(-1)))
  </strong>
</p>
<table class="calculation-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 10%;" />
    <col style="width: 80%;" />
    <col style="width: 10%;" />
  </colgroup>
  <thead>
    <tr>
      <th>RBR</th>
      <th>NAZIV ARTIKLA / USLUGE</th>
      <th>UKUPNO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center;">1.)</td>
      <td>Naknada za korištenje mreže ZDS-a</td>
      <td></td>
    </tr>
    @foreach (var row in usageRows) {
      <tr>
        <td style="text-align: center; padding-left: 1.2rem;">@(row.Number)</td>
        <td>@(row.Name)</td>
        <td style="text-align: end;">@DecimalString(row.Total, 2)</td>
      </tr>
    }
    <tr>
      <td></td>
      <td style="text-align: end;">Naknada za korištenje mreže - UKUPNO</td>
      <td style="text-align: end;"><strong>@DecimalString(data.UsageExpenditure.Total, 2) EUR</strong></td>
    </tr>
    <tr>
      <td style="text-align: center;">2.)</td>
      <td>Naknada za opskrbu električnom energijom</td>
      <td></td>
    </tr>
    @foreach (var row in supplyRows) {
      <tr>
        <td style="text-align: center; padding-left: 1.2rem;">@(row.Number)</td>
        <td>@(row.Name)</td>
        <td style="text-align: end;">@DecimalString(row.Total, 2)</td>
      </tr>
    }
    <tr>
      <td></td>
      <td style="text-align: end;">Naknada za opskrbu – UKUPNO</td>
      <td style="text-align: end;"><strong>@DecimalString(data.SupplyExpenditure.Total, 2) EUR</strong></td>
    </tr>
  </tbody>
</table>
<table class="info-table" style="margin-top: 1.2rem; margin-left: auto; width: 75%;">
  <colgroup>
    <col style="width: 76%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: right;">UKUPNO:</th>
      <th style="text-align: right;">@DecimalString(Item.OzdsInvoicePart.Value.Data.Total, 2) EUR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: right;">PDV (13%):</td>
      <td style="text-align: right;">@DecimalString(Item.OzdsInvoicePart.Value.Data.Tax, 2) EUR</td>
    </tr>
    <tr>
      <td style="text-align: right;"><strong>SVEUKUPNI IZNOS:</strong></td>
      <td style="text-align: right;">@DecimalString(Item.OzdsInvoicePart.Value.Data.TotalWithTax, 2) EUR</td>
    </tr>
  </tbody>
</table>

@code {
  [Parameter]
  public OzdsInvoiceItem Item { get; set; } = default!;

  private OzdsInvoiceData data => Item.OzdsInvoicePart.Value.Data;

  private DistributionSystemUnitItem unitItem => Item.OzdsInvoicePart.Value.Data.DistributionSystemUnit.AsContent<DistributionSystemUnitItem>();

  private DistributionSystemOperatorItem operatorItem => Item.OzdsInvoicePart.Value.Data.DistributionSystemOperator.AsContent<DistributionSystemOperatorItem>();

  private ClosedDistributionSystemItem systemItem => Item.OzdsInvoicePart.Value.Data.ClosedDistributionSystem.AsContent<ClosedDistributionSystemItem>();

  private record Row(string Number, string Name, decimal Total);

  private Row[] usageRows => data is null
    ? new Row[] { }
    : new[]
      {
        new Row(
          "1.1.)",
          "Korištenje mreže u doba jedne dnevne tarife",
          data.UsageExpenditure.EnergyFee
        ),
        new Row(
          "1.2.)",
          "Korištenje mreže u doba više dnevne tarife",
          data.UsageExpenditure.HighEnergyFee
        ),
        new Row(
          "1.3.)",
          "Korištenje mreže u doba niže dnevne tarife",
          data.UsageExpenditure.LowEnergyFee
        ),
        new Row(
          "1.4.)",
          "Angažirana snaga u doba više tarife",
          data.UsageExpenditure.MaxPowerFee
        ),
        new Row(
          "1.5.)",
          "Prekomjerno preuzeta jalova energija",
          data.UsageExpenditure.ReactiveEnergyFee
        ),
        new Row(
          "1.6.)",
          "Naknada za mjernu uslugu",
          data.UsageExpenditure.IotDeviceFee
        ),
      };

  private Row[] supplyRows => data is null
    ? new Row[] { }
    : new[]
      {
        new Row(
          "2.1.)",
          "Opskrba električnom energijom u doba više dnevne tarife",
          data.SupplyExpenditure.HighEnergyFee
        ),
        new Row(
          "2.2.)",
          "Opskrba električnom energijom u doba niže dnevne tarife",
          data.SupplyExpenditure.LowEnergyFee
        ),
        new Row(
          "2.3.)",
          "Naknada za poticanje proizvodnje iz obnovljivih izvora energije i kogeneracije",
          data.SupplyExpenditure.RenewableEnergyFee
        ),
        new Row(
          "2.4.)",
          "Trošarina za poslovnu/neposlovnu upotrebu",
          data.SupplyExpenditure.BusinessUsageFee
        )
      };
}
