@using OrchardCore.ContentManagement.Display
@using OrchardCore.DisplayManagement.ModelBinding

@model OzdsMeasurementDeviceListViewModel

@inject IContentItemDisplayManager ContentItemDisplayManager
@inject IUpdateModelAccessor ModelUpdaterAccessor

<section>
  <h3 class="section-header">@T["Devices"]</h3>
  <table>
    <thead>
      <th scope="col">@T["Id"]</th>
      <th scope="col">@T["Mode"]</th>
      <th scope="col">@T["Voltage"]</th>
      <th scope="col">@T["Current"]</th>
    </thead>
    <tbody>
      @foreach (var (ContentItem, TitlePart, OzdsMeasurementDevicePart, MeasurementDevicePart) in Model.ContentItems)
      {
        <tr>
          <th scope="row">
            <a
                asp-route-area="Mess.Ozds"
                asp-controller="OzdsMeasurementDevice"
                asp-action="Detail"
                asp-route-contentItemId="@ContentItem.ContentItemId">
              <span>
                @TitlePart.Title
              </span>
            </a>
          </th>
        </tr>
      }
    </tbody>
  </table>
</section>
