@using OrchardCore.ContentManagement.Display
@using OrchardCore.DisplayManagement.ModelBinding

@model EorMeasurementDeviceListViewModel

@inject IContentItemDisplayManager ContentItemDisplayManager
@inject IUpdateModelAccessor ModelUpdaterAccessor

<section>
  <h3 class="section-header">@T["Devices"]</h3>
  <table>
    <thead>
      <th scope="col">@T["Id"]</th>
      <th scope="col">@T["Mode"]</th>
      <th scope="col">@T["Voltage"]</th>
      <th scope="col">@T["Current"]</th>
    </thead>
    <tbody>
      @foreach (var (item, summary) in Model.EorMeasurementDevices)
      {
        <tr>
          <th scope="row">
            <a
                asp-route-area="Mess.Eor"
                asp-controller="EorMeasurementDevice"
                asp-action="Detail"
                asp-route-contentItemId="@item.ContentItemId">
              <span>
                @item.TitlePart.Value.Title
              </span>
            </a>
          </th>
          <td>
            <span>
              @summary?.Status?.Mode
            </span>
          </td>
          <td>
            <span>
              @summary?.LastMeasurement?.Voltage
            </span>
          </td>
          <td>
            <span>
              @summary?.LastMeasurement?.Current
            </span>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>