@using Microsoft.AspNetCore.Html
@using OrchardCore.ResourceManagement

@* TODO: get pages and make breadcrumbs by crawling through assemblies *@

@inherits LayoutShapeComponentBase

@inject IResourceManager resourceManager

<HeadContent>
  @{
    var siteName = Site?.SiteName;
    if (siteName is not null) {
      <title>
        @RenderTitleSegments(siteName, "before");
      </title>
    }
  }

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  @HeadMeta

  @Meta
  @HeadLink
  @HeadScript
  @Stylesheet
</HeadContent>

<header>
  @if (IsSectionDefined("Messages"))
  {
    @Messages
  }
</header>

<main>
  <MudThemeProvider Theme="_themeManager.Theme" />
  <MudDialogProvider />
  <MudSnackbarProvider />

  <MudLayout>
    <MudAppBar Elevation="4">
      <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudIconButton
          Icon="@Icons.Material.Outlined.Menu"
          Color="MudColor.Inherit"
          Edge="Edge.Start"
          OnClick="e => DrawerToggle()" />
      </MudHidden>
      <MudHidden Breakpoint="Breakpoint.Xs">
        <MudText Typo="Typo.h6">Dashboard</MudText>
      </MudHidden>
      <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
        <MudText Typo="Typo.subtitle2">Dashboard</MudText>
      </MudHidden>
      <MudSpacer />
      <MudMenu AnchorOrigin="Origin.CenterLeft" Dense="true" Class="mt-1 ml-4">
        <ActivatorContent>
          <MudIcon Icon="@Icons.Material.Filled.Person" />
        </ActivatorContent>
        <ChildContent>
          <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" Href="app/account" />
          <MudListItem Text="Logout" Icon="@Icons.Material.Outlined.Login" Href="login" />
        </ChildContent>
      </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="_themeManager.DrawerClipMode">
      <MudNavMenu>
      <MudNavLink Href="app" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Dashboard">Dashboard</MudNavLink>
      <MudNavLink Href="app/systems" Icon="@Icons.Material.Outlined.Hub">Systems</MudNavLink>
      <MudNavLink Href="app/tenants" Icon="@Icons.Material.Outlined.Place">Tenants</MudNavLink>
      <MudNavLink Href="app/meters" Icon="@Icons.Material.Outlined.ElectricMeter">Meters</MudNavLink>
      <MudNavLink Href="app/billing" Icon="@Icons.Material.Outlined.AttachMoney">Billing</MudNavLink>
    </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
      <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudToolBar DisableGutters="true">
          <MudIconButton
            Icon="@Icons.Material.Outlined.Menu"
            Color="MudColor.Inherit"
            OnClick="e => DrawerToggle()"
            Class="ml-3" />
          <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
          <MudSpacer />
        </MudToolBar>
      </MudHidden>
      <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
        @Body
      </MudContainer>
    </MudMainContent>
  </MudLayout>
</main>

<footer>
  @Footer
</footer>

@FootScript

@code {
  public bool _drawerOpen = true;

  private RenderFragment? HeadMeta { get; set; }
  private RenderFragment? Messages { get; set; }
  private RenderFragment? Footer { get; set; }

  private ThemeManagerTheme _themeManager = new ThemeManagerTheme();

  private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
  {
    new BreadcrumbItem("App", href: "app"),
  };

  protected override void OnLayoutInitialized()
  {
    _themeManager.Theme = new HelbMudTheme();
    _themeManager.DrawerClipMode = DrawerClipMode.Always;
    _themeManager.FontFamily = "Roboto";
    _themeManager.DefaultBorderRadius = 3;
  }

  protected override async Task OnLayoutInitializedAsync() {
    HeadMeta = await RenderSectionAsync("HeadMeta", false);
    Messages = await RenderSectionAsync("Messages", false);
    Footer = await RenderSectionAsync("Footer", false);
  }

  void DrawerToggle()
  {
    _drawerOpen = !_drawerOpen;
  }
}
