@model ChartViewModel

@{
  var isPreview = Model.IsPreview;
  var contentItemId = Model.ContentItemId;
  var canvasId = contentItemId + "-chart-canvas";
  var errorSpanId = contentItemId + "-chart-canvas-error";
  var culture = Orchard.CultureName();
}

<div style="position: relative; width: 400px; height: 400px;">
  <canvas id="@canvasId"></canvas>
</div>

<script asp-name="mess-chart"></script>
<script>
  window.mess.chart.useChart({
    requestUrlPrefix: "@this.GetRequestUrlPrefix()",
    contentItemId: "@contentItemId",
    isPreview: @isPreview.ToString().ToLower(),
    canvasId: "@canvasId",
    culture: "@culture",
  });
</script>
