<div class="card h-100">
  <div class="card-body">
    @if (Model.Content != null)
    {
      @await DisplayAsync(Model.Content)
    }
    else
    {
      @* For line chart datasets without a display driver *@
      <span>
        @Model.ContentItem.DisplayText
        <span class="text-muted dashed">
          @Model.ContentItem.ContentType
        </span>
      </span>
    }
  </div>
  <div class="card-footer text-muted text-sm-end">
    <a 
        class="btn btn-primary btn-sm thumbnail-link-create"
        asp-route-area="Mess.Chart"
        asp-route-controller="ConcreteChartAdmin"
        asp-route-action="Create"
        asp-route-contentItemId="@Model.ContentItemId"
        asp-route-lineChartDatasetContentItemId="Model.LineChartDatasetContentItemId"
        asp-route-contentType="@Model.ContentType">
      @T["Create"]
    </a>
  </div>
</div>
