@model TimeseriesChartDatasetPartViewModel

<div class="mb-3">
  <label>Property:</label>&nbsp;
  <span>@Model.Property</span>
</div>

<div>
  <div class="float-end">
    <a
        asp-route-area="Mess.Chart"
        asp-controller="@typeof(TimeseriesChartDatasetAdminController).ControllerName()"
        asp-action="@nameof(TimeseriesChartDatasetAdminController.Edit)"
        asp-route-contentItemId="@Model.Part.ContentItem.Content.ContentItemId"
        asp-route-datasetContentItemId="@Model.Part.ContentItem.ContentItemId"
        class="btn btn-primary btn-sm">
      @T["Edit"]
    </a>
    <a
        asp-route-area="Mess.Chart"
        asp-controller="@typeof(TimeseriesChartDatasetAdminController).ControllerName()"
        asp-action="@nameof(TimeseriesChartDatasetAdminController.Delete)"
        asp-route-contentItemId="@Model.Part.ContentItem.Content.ContentItemId"
        asp-route-datasetContentItemId="@Model.Part.ContentItem.ContentItemId"
        data-url-af="RemoveUrl UnsafeUrl"
        class="btn btn-danger btn-sm">
      @T["Delete"]
    </a>
  </div>
</div>
