@model TimeseriesChartPartEditViewModel

@inject OrchardCore.ContentManagement.IContentManager ContentManager
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor ModelUpdaterAccessor

<div class="mb-3 row">
  <div class="col-sm-6">
    <label asp-for="ChartDataProviderId">@T["Data provider"]</label>
    <select class="form-select" asp-for="ChartDataProviderId">
      @foreach (var item in Model.ChartDataProviderIdOptions)
      {
        <option value="@item.Value">@item.Text</option>
      }
    </select>
    <span class="hint">@T["If changed, it will remove all datasets."]</span>
  </div>
</div>

@if (Model.Part.ContentItem.Id == 0)
{
  return;
}

<div class="mb-3 d-flex flex-column justify-content-between">
  <h5>@T["Datasets"]</h5>
  
  @if (Model.Part.Datasets is not null && Model.Part.Datasets.Count > 0)
  {
    @foreach (var contentItem in Model.Part.Datasets)
    {
      contentItem.Content.ContentItemId = Model.Part.ContentItem.ContentItemId;
      contentItem.Content.DataProviderId = Model.Part.ChartProviderId;
      dynamic dataset = await ContentItemDisplayManager.BuildDisplayAsync(
        contentItem,
        ModelUpdaterAccessor.ModelUpdater
      );
      <div class="mb-3 row">
        <div 
            class="
              d-flex
              flex-column
              justify-content-between
              border
              rounded
              p-2
              ps-3
              mb-1
            ">
          @await DisplayAsync(dataset)
        </div>
      </div>
    }
  }
  else {
    <span class="hint">
      @T["No datasets found."]
    </span>
  }
  
  <div class="float-end">
    @{
      var contentItemId = Model.Part.ContentItem.ContentItemId;
      string? chartContentItemId = null; // TODO
    }

    <a
        asp-route-area="Mess.Chart"
        asp-controller="TimeseriesChartDatasetAdmin"
        asp-action="Create"
        asp-route-contentItemId="@contentItemId"
        asp-route-chartContentItemId="@chartContentItemId"
        class="btn btn-success btn-sm">
      @T["Create dataset"]
    </a>
  </div>
</div>