@using Mess.Blazor.Abstractions.Extensions

<Router
  AppAssembly="@this.GetAppAssembly()"
  AdditionalAssemblies="@this.GetExtensionAssemblies()">
  <Found Context="routeData">
    <CapturedRouteView
      RouteData="@routeData"
      DefaultLayout="@this.GetLayoutType()"
      CaptureId="@Model.CaptureId" />
  </Found>

  <NotFound>
    <CapturedLayoutView
      Layout="@this.GetLayoutType()"
      CaptureId="@Model.CaptureId">
      <p>Sorry, there's nothing at this address.</p>

      <NavLink Href="app/dashboard">
        Dashboard
      </NavLink>
    </CapturedLayoutView>
  </NotFound>
</Router>
